.agenda {
  width: 100%;
  min-height: 200px;
  padding: 5em 0;

  .panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

    @mixin atMedium {
      width: 45%;
      min-height: 240px;
    }

    @mixin atLarge {
      width: 50%;
      min-height: 260px;
    }

    i {
      font-size: 4rem;
      padding: 0.25em;
      color: $mainGreen;
    }

    h4 {
      font-size: 1.5rem;
      padding-bottom: 0.5em;
      font-weight: 400;
    }
  }
}
